*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    padding: 2rem;
    width: 50rem;
    margin: 5rem auto;
    background-color: khaki;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
   align-items: center;
}
h1{
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1rem;
}   
.input{
    font-size: 1.2rem;
    width: 35rem;
    height: 4rem;
    padding: 0.2rem 0.5rem;
    border-radius:0.5rem ;
    border: 2px solid black;
    margin: 1rem 0;
}
.butnDiv{
    margin-top: 2rem;
    display: flex;
    justify-content: center;

}
.butn{
    cursor: pointer;
    padding: 1rem;
    border-radius:0.5rem ;

    font-size: 1.5rem;
    width: 20rem;
    background-color: rgb(26, 120, 7);
    color:white;
}
.butn:hover{
    background-color: rgb(46, 136, 28);

}